#question {
    width: 60rem;
    text-align: center;
}

.answer {
    font-size: 2rem;
    padding: 2rem 0;
    width: 30rem;
    height: 4.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    text-decoration: none;
    background-color: #E8A87C;
    border: .1rem solid #000;
    border-radius: .5rem;

}

.answer:hover {
    cursor: pointer;
    background-color: #E27D60;
}

#information {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 60rem;
}

@media only screen and (max-width: 1020px) {
    #question {
        width: 100%;
    }
    
    #information {
        width: 80%;
    }
}

@media only screen and (max-width: 470px) {
    #question {
        width: 100%;
    }
    
    #information {
        width: 80%;
    }
}